In [1]:
import pandas as pd
import re
import requests
import glob
import json
import csv
from pandas.io.json import json_normalize

In [3]:
# test unnesting json with one file

with open('/fake/path/name') as f:
    d = json.load(f)

# parent node is items
blah = json_normalize(d['items'])
blah.head(3)

,access,agent,article,granularity,project,timestamp,views
0,all-access,all-agents,Wyatt_Earp,monthly,en.wikipedia,2015070100,212779
1,all-access,all-agents,Wyatt_Earp,monthly,en.wikipedia,2015080100,239752
2,all-access,all-agents,Wyatt_Earp,monthly,en.wikipedia,2015090100,156569

In [1]:
# path =r'/blah/blah/blah' 
# files = glob.glob(path + "/*.json")

# list = []

# for file in files:
#     try:
#         with open(file) as f:

#             data = json.load(f)
#             data2 = json_normalize(data['items'], errors='ignore')

#             list.append(data2)
#     except: 
#         pass
# #         print("error, " + file)
        

# df = pd.concat(list, axis = 0, ignore_index = True, sort=False)

In [ ]:
path =r'/blah/blah/blah' 
files = glob.glob(path + "/*.json")

list = []

for file in files:
    try:
        with open(file) as f:

            data = json.load(f)
            data2 = json_normalize(data['items'], errors='ignore')

            list.append(data2)
    except: 
        pass
#         print("error, " + file)
        

df = pd.concat(list, axis = 0, ignore_index = True, sort=False)

In [6]:
# the above code skipped 246 files

In [4]:
df.head()

,access,agent,article,granularity,project,timestamp,views
0,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015070100,109
1,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015080100,119
2,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015090100,127
3,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015100100,119
4,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015110100,89

In [5]:
df.shape

(4495205, 7)

In [11]:
# who has the most views?
df.groupby('article').views.sum().sort_values(ascending=False).head(10)

article
Dwayne_Johnson       38911812
Ariana_Grande        33583983
Prince_(musician)    32714575
Eminem               30096686
Steve_Jobs           29512724
Muhammad_Ali         28637668
Hillary_Clinton      27371549
Kim_Kardashian       27353771
John_Cena            26636265
Michael_Jordan       26314164
Name: views, dtype: int64

In [12]:
df['name'] = df['article'].str.replace("_", " ")

In [13]:
df['name'] = df['name'].str.replace("%27", "'")

In [14]:
df_allpeople = pd.read_csv('category_people_from_allpeople.csv')

In [15]:
df_allpeople.head()

     pageid                        name                 city
0   4438188                 Gene Bartow   Browning, Missouri
1  11636334           Jasper N. Tincher   Browning, Missouri
2   3539692           Rafael Arutyunyan  Artesia, California
3  20724480  Ricardo Brown (basketball)  Artesia, California
4  18151614        William Yancey Brown  Artesia, California

In [16]:
df.head()

,access,agent,article,granularity,project,timestamp,views,name
0,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015070100,109,George Gibson (American football)
1,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015080100,119,George Gibson (American football)
2,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015090100,127,George Gibson (American football)
3,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015100100,119,George Gibson (American football)
4,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015110100,89,George Gibson (American football)

In [17]:
merged_df = pd.merge(df, df_allpeople, how='left', on='name')

In [19]:
merged_df.head(10)

,access,agent,article,granularity,project,timestamp,views,name,pageid,city
0,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015070100,109,George Gibson (American football),5562128,"Romulus, New York"
1,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015080100,119,George Gibson (American football),5562128,"Romulus, New York"
2,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015090100,127,George Gibson (American football),5562128,"Romulus, New York"
3,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015100100,119,George Gibson (American football),5562128,"Romulus, New York"
4,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015110100,89,George Gibson (American football),5562128,"Romulus, New York"
5,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015120100,86,George Gibson (American football),5562128,"Romulus, New York"
6,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016010100,124,George Gibson (American football),5562128,"Romulus, New York"
7,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016020100,140,George Gibson (American football),5562128,"Romulus, New York"
8,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016030100,118,George Gibson (American football),5562128,"Romulus, New York"
9,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016040100,148,George Gibson (American football),5562128,"Romulus, New York"

In [23]:
# how many people total are in the data?
merged_df.pageid.value_counts().count()

118380

In [42]:
merged_df.shape

(5297236, 10)

In [43]:
# how many cities
merged_df.city.value_counts().count()

7378

In [24]:
# Save to csv
merged_df.to_csv("category_people_from_allpeople_with_pageviews.csv", index=False)

In [21]:
# what city/town has the most views?
merged_df.groupby('city').views.sum().sort_values(ascending=False).head(10)

city
Malibu, California           131015512
Hidden Hills, California     124767389
Calabasas, California        113283795
Houston                       98170812
Dallas                        88898750
Brookline, Massachusetts      86458344
Beverly Hills, California     85712821
Midland, Texas                80069139
Palo Alto, California         77173322
San Antonio                   73625039
Name: views, dtype: int64

In [26]:
city_ranking_df = merged_df.groupby('city').views.sum().sort_values(ascending=False).reset_index()

In [28]:
city_ranking_df.head(20)

                         city      views
0          Malibu, California  131015512
1    Hidden Hills, California  124767389
2       Calabasas, California  113283795
3                     Houston   98170812
4                      Dallas   88898750
5    Brookline, Massachusetts   86458344
6   Beverly Hills, California   85712821
7              Midland, Texas   80069139
8       Palo Alto, California   77173322
9                 San Antonio   73625039
10              New York City   73612737
11         Memphis, Tennessee   70706329
12                     Boston   69132048
13       Nashville, Tennessee   65568208
14                  San Diego   63656500
15    Highland Park, Illinois   62361830
16          Fort Worth, Texas   61803345
17                Los Angeles   59119779
18   Paradise Valley, Arizona   58443178
19        Boca Raton, Florida   58299855

In [32]:
# save ranking df to csv
city_ranking_df.to_csv("cities_ranked.csv")

In [37]:
# what people have the most views?
people_ranking_df = merged_df.groupby('name').views.sum().sort_values(ascending=False).reset_index()

In [38]:
people_ranking_df

                                          name      views
0                                   Steve Jobs  118050896
1                                   Wyatt Earp   74506883
2                            George H. W. Bush   72325060
3                                       Eminem   60193372
4                               Clint Eastwood   58583361
5                               Kim Kardashian   54707542
6                                     Bob Ross   48745772
7                              John F. Kennedy   48206984
8                                 Stephen King   47957764
9                                    Ted Bundy   47166102
10                               Donald Glover   45253266
11                               Elvis Presley   45209962
12                                Jessica Alba   42364796
13                                Kylie Jenner   41156258
14                               Burt Reynolds   40172391
15                                   Bob Dylan   40169352
16                              Morgan Freeman   39282405
17                              Dwayne Johnson   38911812
18                                   Brad Pitt   37665358
19                              George W. Bush   37183230
20                              Robin Williams   34391474
21                                 Tiger Woods   33786324
22                               Ariana Grande   33583983
23                           Prince (musician)   32714575
24                               Richard Nixon   32622936
25                                Nikola Tesla   32361598
26                                   Zac Efron   31363832
27                       Madonna (entertainer)   31290028
28                                Brock Lesnar   30212736
29                              Britney Spears   29651068
...                                        ...        ...
118350                             Roger Rouse         41
118351                             Bobby Payne         41
118352       Dan Williams (Alabama politician)         41
118353                            Carl Voltmer         40
118354  Samuel Lightfoot Flournoy (politician)         39
118355                          Stella Gilbert         33
118356                               Roy Engle         30
118357                            Jim Gatchell         27
118358              Robert Foster (politician)         24
118359                Chris Miller (politician         23
118360                           A. J. Crabill         11
118361                       Robert M. Epstein          9
118362                    John Chase (general)          9
118363                           Julie Denslow          8
118364                            Lynn Hovland          7
118365                           Aiden Curtiss          6
118366                             Bill Smaltz          5
118367                          Oscar Jacobson          4
118368                      Benjamin S. Liddon          4
118369                           Edward Borein          3
118370                           Todd Bardwick          2
118371                            Mel Massucco          2
118372                             Mayumi Ando          2
118373                      Daniel L. Overmyer          2
118374                     Annie Nowlin Savery          1
118375                     Jack Watson (coach)          1
118376                            Stan Zweifel          1
118377                             Jalen Davis          1
118378                            Alcott Neary          1
118379                           Wayne Haensel          1

[118380 rows x 2 columns]

In [39]:
# save to csv
people_ranking_df.to_csv("people_ranked.csv")

In [45]:
city_name_df = merged_df.groupby(['city', 'name']).views.sum().sort_values(ascending=False).reset_index()

In [47]:
city_name_df.city.value_counts()

Dallas                       500
Houston                      500
San Antonio                  500
Chicago                      500
Boston                       499
Los Angeles                  499
Nashville, Tennessee         498
San Francisco                497
Fort Worth, Texas            461
Memphis, Tennessee           423
Austin, Texas                360
New York City                358
San Diego                    356
Philadelphia                 353
New Orleans                  347
Atlanta                      345
Brookline, Massachusetts     344
St. Louis                    338
Baltimore                    308
Denver                       285
El Paso, Texas               278
Detroit                      252
Oakland, California          243
Wilmington, Delaware         234
Beverly Hills, California    233
Knoxville, Tennessee         223
Pasadena, California         212
Salt Lake City               205
Honolulu                     192
Miami                        190
                            ...
Lemington, Vermont             1
Ingleside, Texas               1
Sheffield, Vermont             1
Woodbury, Vermont              1
Woodford, Vermont              1
Reading, Vermont               1
Warren, Vermont                1
Woodfin, North Carolina        1
Lincoln, Vermont               1
Panton, Vermont                1
Alto, Georgia                  1
Duxbury, Vermont               1
Le Grand, Iowa                 1
Fritch, Texas                  1
Drexel, Missouri               1
Happy, Texas                   1
West Windsor, Vermont          1
Leedey, Oklahoma               1
Roxobel, North Carolina        1
Cavendish, Vermont             1
Woodburn, Kentucky             1
Pittsfield, Vermont            1
Hurt, Virginia                 1
Troy, Vermont                  1
Eastford, Connecticut          1
North Hero, Vermont            1
Learned, Mississippi           1
Kensington, New Hampshire      1
Windthorst, Texas              1
Moreau, New York               1
Name: city, Length: 7378, dtype: int64

In [48]:
merged_df.groupby('city').

,access,agent,article,granularity,project,timestamp,views,name,pageid,city
0,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015070100,109,George Gibson (American football),5562128,"Romulus, New York"
1,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015080100,119,George Gibson (American football),5562128,"Romulus, New York"
2,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015090100,127,George Gibson (American football),5562128,"Romulus, New York"
3,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015100100,119,George Gibson (American football),5562128,"Romulus, New York"
4,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015110100,89,George Gibson (American football),5562128,"Romulus, New York"
5,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2015120100,86,George Gibson (American football),5562128,"Romulus, New York"
6,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016010100,124,George Gibson (American football),5562128,"Romulus, New York"
7,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016020100,140,George Gibson (American football),5562128,"Romulus, New York"
8,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016030100,118,George Gibson (American football),5562128,"Romulus, New York"
9,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016040100,148,George Gibson (American football),5562128,"Romulus, New York"
10,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016050100,99,George Gibson (American football),5562128,"Romulus, New York"
11,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016060100,110,George Gibson (American football),5562128,"Romulus, New York"
12,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016070100,156,George Gibson (American football),5562128,"Romulus, New York"
13,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016080100,113,George Gibson (American football),5562128,"Romulus, New York"
14,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016090100,136,George Gibson (American football),5562128,"Romulus, New York"
15,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016100100,97,George Gibson (American football),5562128,"Romulus, New York"
16,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016110100,107,George Gibson (American football),5562128,"Romulus, New York"
17,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2016120100,114,George Gibson (American football),5562128,"Romulus, New York"
18,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017010100,121,George Gibson (American football),5562128,"Romulus, New York"
19,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017020100,120,George Gibson (American football),5562128,"Romulus, New York"
20,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017030100,124,George Gibson (American football),5562128,"Romulus, New York"
21,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017040100,201,George Gibson (American football),5562128,"Romulus, New York"
22,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017050100,135,George Gibson (American football),5562128,"Romulus, New York"
23,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017060100,128,George Gibson (American football),5562128,"Romulus, New York"
24,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017070100,107,George Gibson (American football),5562128,"Romulus, New York"
25,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017080100,119,George Gibson (American football),5562128,"Romulus, New York"
26,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017090100,98,George Gibson (American football),5562128,"Romulus, New York"
27,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017100100,95,George Gibson (American football),5562128,"Romulus, New York"
28,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017110100,216,George Gibson (American football),5562128,"Romulus, New York"
29,all-access,all-agents,George_Gibson_(American_football),monthly,en.wikipedia,2017120100,160,George Gibson (American football),5562128,"Romulus, New York"
...,...,...,...,...,...,...,...,...,...,...
5297206,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016060100,880,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297207,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016070100,1030,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297208,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016080100,1003,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297209,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016090100,918,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297210,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016100100,1043,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297211,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016110100,864,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297212,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2016120100,2336,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297213,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017010100,1029,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297214,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017020100,904,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297215,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017030100,1157,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297216,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017040100,1487,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297217,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017050100,1553,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297218,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017060100,1048,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297219,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017070100,1050,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297220,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017080100,1160,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297221,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017090100,1061,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297222,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017100100,1204,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297223,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017110100,1092,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297224,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2017120100,1579,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297225,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018010100,1493,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297226,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018020100,1133,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297227,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018030100,1575,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297228,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018040100,1209,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297229,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018050100,1160,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297230,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018060100,1133,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297231,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018070100,1097,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297232,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018080100,1296,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297233,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018090100,1232,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297234,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018100100,1583,J. Christopher Reyes,33891817,"Lake Forest, Illinois"
5297235,all-access,all-agents,J._Christopher_Reyes,monthly,en.wikipedia,2018110100,1279,J. Christopher Reyes,33891817,"Lake Forest, Illinois"

In [56]:
city_name_df = merged_df.groupby(['city', 'name'])['views'].sum().reset_index()

In [60]:
city_name_df

                        city                               name    views
0         Abbeville, Alabama  Al Richardson (American football)    11369
1         Abbeville, Alabama          Chris Porter (basketball)    60077
2         Abbeville, Alabama                         Leroy Cook    11270
3         Abbeville, Alabama                        Monte Lewis     3030
4         Abbeville, Alabama                        Recy Taylor   631618
5         Abbeville, Alabama                         Siran Neal     8422
6       Abbeville, Louisiana                        Allen Bares     7513
7       Abbeville, Louisiana                     Anthony Levine    56477
8       Abbeville, Louisiana                      Bobby Charles   126255
9       Abbeville, Louisiana   Brandon Mitchell (defensive end)    21596
10      Abbeville, Louisiana                     Charlton Lyons    17420
11      Abbeville, Louisiana                       Chris Scelfo    29956
12      Abbeville, Louisiana                        Deb Richard    10380
13      Abbeville, Louisiana                      Donald Trahan     4096
14      Abbeville, Louisiana                  Dudley J. LeBlanc    19045
15      Abbeville, Louisiana                     Frank Godchaux     5827
16      Abbeville, Louisiana                 Frank Godchaux Sr.     4419
17      Abbeville, Louisiana                       Frank Scelfo    25004
18      Abbeville, Louisiana        George Caldwell (Louisiana)     9899
19      Abbeville, Louisiana                       George Petty    69433
20      Abbeville, Louisiana                        Gerald Long    33997
21      Abbeville, Louisiana                         Lee Benoit    13736
22      Abbeville, Louisiana                         Matt Gordy     5214
23      Abbeville, Louisiana                      Ray Broussard     4803
24      Abbeville, Louisiana                      Robert Angers     8881
25      Abbeville, Louisiana                     Roy R. Theriot     4767
26      Abbeville, Louisiana      Roy Young (American football)     2568
27      Abbeville, Louisiana                     Sam H. Theriot     4518
28      Abbeville, Louisiana                      Seymour Weiss     9349
29      Abbeville, Louisiana                       Warren Storm    18720
...                      ...                                ...      ...
138779        Zion, Illinois                       Russell Nype    29762
138780   Zionsville, Indiana                      A. J. Corrado     5654
138781   Zionsville, Indiana             Albert Barnes Anderson     5046
138782   Zionsville, Indiana                   Arthur G. Hansen    10025
138783   Zionsville, Indiana                        Bill Diddel     4697
138784   Zionsville, Indiana                        Bill Hodges    24979
138785   Zionsville, Indiana                       Brad Stevens  2014246
138786   Zionsville, Indiana                      David Shumate     6277
138787   Zionsville, Indiana                        Dylan Mares    14307
138788   Zionsville, Indiana                         Eddie Gill    44417
138789   Zionsville, Indiana           Hardress Nathaniel Swaim     3782
138790   Zionsville, Indiana                       Hunter Smith    46263
138791   Zionsville, Indiana                        Jared Fogle  7244933
138792   Zionsville, Indiana                       Jeff Belskus    12078
138793   Zionsville, Indiana                         John Stehr    16997
138794   Zionsville, Indiana                 John-Michael Liles    91030
138795   Zionsville, Indiana                   Kelly Williamson     7961
138796   Zionsville, Indiana                   Kendall Phillips     8787
138797   Zionsville, Indiana                         Mark Baltz     8787
138798   Zionsville, Indiana                         Nancy Noel    14999
138799   Zionsville, Indiana                          Ryan Diem    29847
138800   Zionsville, Indiana           Steve Braun (politician)    15706
138801   Zionsville, Indiana                       Todd Witsken    21265
138802   Zionsville, Indiana                         Tom Mastny    17620
138803   Zumbrota, Minnesota                    Anton J. Rockne     3514
138804   Zumbrota, Minnesota                         C. C. Beck    56458
138805   Zumbrota, Minnesota                        Gus Bradley   497333
138806   Zumbrota, Minnesota               Kenneth O. Chilstrom    10171
138807   Zumbrota, Minnesota                    Sydney Anderson     9679
138808   Zumbrota, Minnesota                   William Roseland     1767

[138809 rows x 3 columns]

In [64]:
city_name_df.groupby(['city']).views.max()

city
Abbeville, Alabama               631618
Abbeville, Louisiana             126255
Abbeville, Mississippi            36577
Abbeville, South Carolina       2287101
Abbotsford, Wisconsin              5732
Aberdeen, Maryland               908428
Aberdeen, Mississippi            378383
Aberdeen, South Dakota          1386645
Aberdeen, Washington            6447920
Abilene, Kansas                11074966
Abilene, Texas                  4600179
Abingdon, Illinois               749399
Abingdon, Virginia               496379
Abington, Massachusetts          222821
Abita Springs, Louisiana          11302
Abrams, Wisconsin                 79272
Absecon, New Jersey             1885182
Accomac, Virginia                 64723
Ackerman, Mississippi            491904
Ackley, Iowa                       5950
Acton, Massachusetts             356476
Acushnet, Massachusetts           76553
Acworth, New Hampshire             9711
Ada, Minnesota                    53454
Ada, Oklahoma                   9518617
Adair, Oklahoma                   56621
Adairsville, Georgia            1773237
Adams, Massachusetts            3074553
Adams, New York                  227849
Adamsville, Alabama               48181
                                 ...
York, Nebraska                    96729
York, New York                    11506
York, Pennsylvania              1167597
York, South Carolina              22500
Yorktown, Indiana                767830
Yorktown, Texas                  199645
Yorktown, Virginia                77090
Yorkville, Illinois             1680047
Yorkville, Wisconsin               9578
Youngstown, Ohio                 552139
Youngsville, Louisiana            19045
Youngsville, North Carolina      120807
Yountville, California           714577
Ypsilanti, Michigan             4849265
Yreka, California                 44711
Yuba City, California            808937
Yucaipa, California              159179
Yucca Valley, California         543047
Yukon, Oklahoma                 5218873
Yuma, Arizona                   3285024
Zachary, Louisiana              1734424
Zanesville, Ohio                1703794
Zebulon, Georgia                 416143
Zebulon, North Carolina          122455
Zeeland, Michigan                222709
Zeigler, Illinois                114340
Zephyrhills, Florida            1290442
Zion, Illinois                  3559373
Zionsville, Indiana             7244933
Zumbrota, Minnesota              497333
Name: views, Length: 7378, dtype: int64

In [73]:
city_name_df.groupby(['city', 'name']).views.max()

city                  name
Abbeville, Alabama    Al Richardson (American football)      11369
                      Chris Porter (basketball)              60077
                      Leroy Cook                             11270
                      Monte Lewis                             3030
                      Recy Taylor                           631618
                      Siran Neal                              8422
Abbeville, Louisiana  Allen Bares                             7513
                      Anthony Levine                         56477
                      Bobby Charles                         126255
                      Brandon Mitchell (defensive end)       21596
                      Charlton Lyons                         17420
                      Chris Scelfo                           29956
                      Deb Richard                            10380
                      Donald Trahan                           4096
                      Dudley J. LeBlanc                      19045
                      Frank Godchaux                          5827
                      Frank Godchaux Sr.                      4419
                      Frank Scelfo                           25004
                      George Caldwell (Louisiana)             9899
                      George Petty                           69433
                      Gerald Long                            33997
                      Lee Benoit                             13736
                      Matt Gordy                              5214
                      Ray Broussard                           4803
                      Robert Angers                           8881
                      Roy R. Theriot                          4767
                      Roy Young (American football)           2568
                      Sam H. Theriot                          4518
                      Seymour Weiss                           9349
                      Warren Storm                           18720
                                                            ...
Zion, Illinois        Russell Nype                           29762
Zionsville, Indiana   A. J. Corrado                           5654
                      Albert Barnes Anderson                  5046
                      Arthur G. Hansen                       10025
                      Bill Diddel                             4697
                      Bill Hodges                            24979
                      Brad Stevens                         2014246
                      David Shumate                           6277
                      Dylan Mares                            14307
                      Eddie Gill                             44417
                      Hardress Nathaniel Swaim                3782
                      Hunter Smith                           46263
                      Jared Fogle                          7244933
                      Jeff Belskus                           12078
                      John Stehr                             16997
                      John-Michael Liles                     91030
                      Kelly Williamson                        7961
                      Kendall Phillips                        8787
                      Mark Baltz                              8787
                      Nancy Noel                             14999
                      Ryan Diem                              29847
                      Steve Braun (politician)               15706
                      Todd Witsken                           21265
                      Tom Mastny                             17620
Zumbrota, Minnesota   Anton J. Rockne                         3514
                      C. C. Beck                             56458
                      Gus Bradley                           497333
                      Kenneth O. Chilstrom                   10171
                      Sydney Anderson                         9679
                      William Roseland                        1767
Name: views, Length: 138809, dtype: int64

In [97]:
# who's the top-viewed person by city?

df1 = city_name_df.groupby(['city', 'name'], as_index=False)['views'].sum()
df2 = df1.sort_values(['city','views'])
df2 = (df2.set_index(['city', 
                      df2.groupby(['city']).cumcount(ascending=False)])['name']
          .unstack()
          .add_prefix('max_'))

city_mostviewedperson_df = df2['max_0'].reset_index()

city_mostviewedperson_df

                             city                    max_0
0              Abbeville, Alabama              Recy Taylor
1            Abbeville, Louisiana            Bobby Charles
2          Abbeville, Mississippi          Jennifer Gillom
3       Abbeville, South Carolina          John C. Calhoun
4           Abbotsford, Wisconsin              Scott Suder
5              Aberdeen, Maryland           Cal Ripken Jr.
6           Aberdeen, Mississippi                Jeff Fort
7          Aberdeen, South Dakota           Terry Francona
8            Aberdeen, Washington             Daniel Bryan
9                 Abilene, Kansas     Dwight D. Eisenhower
10                 Abilene, Texas          Jessica Simpson
11             Abingdon, Illinois          James Stockdale
12             Abingdon, Virginia  Scott Cooper (director)
13        Abington, Massachusetts     Larry Murphy (actor)
14       Abita Springs, Louisiana           Bunny Matthews
15              Abrams, Wisconsin             Pee Wee King
16            Absecon, New Jersey            Robert Irvine
17              Accomac, Virginia            Henry A. Wise
18          Ackerman, Mississippi                Ray Mabus
19                   Ackley, Iowa             Art Reinhart
20           Acton, Massachusetts     Madeline Amy Sweeney
21        Acushnet, Massachusetts               Gil Santos
22         Acworth, New Hampshire        Urban A. Woodbury
23                 Ada, Minnesota             Keith Hanson
24                  Ada, Oklahoma            Blake Shelton
25                Adair, Oklahoma            Evelyn Varden
26           Adairsville, Georgia         Pretty Boy Floyd
27           Adams, Massachusetts         Susan B. Anthony
28                Adams, New York             Melvil Dewey
29            Adamsville, Alabama           Henry E. Erwin
...                           ...                      ...
7348               York, Nebraska                 Sam Koch
7349               York, New York             Connor Knapp
7350           York, Pennsylvania               Jeff Koons
7351         York, South Carolina         Rufus S. Bratton
7352            Yorktown, Indiana              Ted Haggard
7353              Yorktown, Texas             Harlon Block
7354           Yorktown, Virginia       Lorenzo Taliaferro
7355          Yorkville, Illinois           Dennis Hastert
7356         Yorkville, Wisconsin                Emmy Fink
7357             Youngstown, Ohio           Michael Morell
7358       Youngsville, Louisiana        Dudley J. LeBlanc
7359  Youngsville, North Carolina    Jason Michael Carroll
7360       Yountville, California            Thomas Keller
7361          Ypsilanti, Michigan                 Iggy Pop
7362            Yreka, California              Eric Pianka
7363        Yuba City, California             Festus Ezeli
7364          Yucaipa, California           Taijuan Walker
7365     Yucca Valley, California               Omi Vaidya
7366              Yukon, Oklahoma             Garth Brooks
7367                Yuma, Arizona           Cain Velasquez
7368           Zachary, Louisiana            Donna Douglas
7369             Zanesville, Ohio          Agnes Moorehead
7370             Zebulon, Georgia          Mookie Blaylock
7371      Zebulon, North Carolina           Clifton Daniel
7372            Zeeland, Michigan                 Jim Kaat
7373            Zeigler, Illinois            Nick Holonyak
7374         Zephyrhills, Florida             Carl Tanzler
7375               Zion, Illinois             Gary Coleman
7376          Zionsville, Indiana              Jared Fogle
7377          Zumbrota, Minnesota              Gus Bradley

[7378 rows x 2 columns]

In [102]:
# add the number of views to the dataframe
city_mostviewedperson_df['name'] = city_mostviewedperson_df['max_0']

In [109]:
# add the number of views to the dataframe
city_mostviewedperson_df2 = pd.merge(city_mostviewedperson_df, city_name_df, how='left', on=['name', 'city'])
city_mostviewedperson_df2

,city,max_0,name,views
0,"Abbeville, Alabama",Recy Taylor,Recy Taylor,631618
1,"Abbeville, Louisiana",Bobby Charles,Bobby Charles,126255
2,"Abbeville, Mississippi",Jennifer Gillom,Jennifer Gillom,36577
3,"Abbeville, South Carolina",John C. Calhoun,John C. Calhoun,2287101
4,"Abbotsford, Wisconsin",Scott Suder,Scott Suder,5732
5,"Aberdeen, Maryland",Cal Ripken Jr.,Cal Ripken Jr.,908428
6,"Aberdeen, Mississippi",Jeff Fort,Jeff Fort,378383
7,"Aberdeen, South Dakota",Terry Francona,Terry Francona,1386645
8,"Aberdeen, Washington",Daniel Bryan,Daniel Bryan,6447920
9,"Abilene, Kansas",Dwight D. Eisenhower,Dwight D. Eisenhower,11074966
10,"Abilene, Texas",Jessica Simpson,Jessica Simpson,4600179
11,"Abingdon, Illinois",James Stockdale,James Stockdale,749399
12,"Abingdon, Virginia",Scott Cooper (director),Scott Cooper (director),496379
13,"Abington, Massachusetts",Larry Murphy (actor),Larry Murphy (actor),222821
14,"Abita Springs, Louisiana",Bunny Matthews,Bunny Matthews,11302
15,"Abrams, Wisconsin",Pee Wee King,Pee Wee King,79272
16,"Absecon, New Jersey",Robert Irvine,Robert Irvine,1885182
17,"Accomac, Virginia",Henry A. Wise,Henry A. Wise,64723
18,"Ackerman, Mississippi",Ray Mabus,Ray Mabus,491904
19,"Ackley, Iowa",Art Reinhart,Art Reinhart,5950
20,"Acton, Massachusetts",Madeline Amy Sweeney,Madeline Amy Sweeney,356476
21,"Acushnet, Massachusetts",Gil Santos,Gil Santos,76553
22,"Acworth, New Hampshire",Urban A. Woodbury,Urban A. Woodbury,9711
23,"Ada, Minnesota",Keith Hanson,Keith Hanson,53454
24,"Ada, Oklahoma",Blake Shelton,Blake Shelton,9518617
25,"Adair, Oklahoma",Evelyn Varden,Evelyn Varden,56621
26,"Adairsville, Georgia",Pretty Boy Floyd,Pretty Boy Floyd,1773237
27,"Adams, Massachusetts",Susan B. Anthony,Susan B. Anthony,3074553
28,"Adams, New York",Melvil Dewey,Melvil Dewey,227849
29,"Adamsville, Alabama",Henry E. Erwin,Henry E. Erwin,48181
...,...,...,...,...
7348,"York, Nebraska",Sam Koch,Sam Koch,96729
7349,"York, New York",Connor Knapp,Connor Knapp,11506
7350,"York, Pennsylvania",Jeff Koons,Jeff Koons,1167597
7351,"York, South Carolina",Rufus S. Bratton,Rufus S. Bratton,22500
7352,"Yorktown, Indiana",Ted Haggard,Ted Haggard,767830
7353,"Yorktown, Texas",Harlon Block,Harlon Block,199645
7354,"Yorktown, Virginia",Lorenzo Taliaferro,Lorenzo Taliaferro,77090
7355,"Yorkville, Illinois",Dennis Hastert,Dennis Hastert,1680047
7356,"Yorkville, Wisconsin",Emmy Fink,Emmy Fink,9578
7357,"Youngstown, Ohio",Michael Morell,Michael Morell,552139
7358,"Youngsville, Louisiana",Dudley J. LeBlanc,Dudley J. LeBlanc,19045
7359,"Youngsville, North Carolina",Jason Michael Carroll,Jason Michael Carroll,120807
7360,"Yountville, California",Thomas Keller,Thomas Keller,714577
7361,"Ypsilanti, Michigan",Iggy Pop,Iggy Pop,4849265
7362,"Yreka, California",Eric Pianka,Eric Pianka,44711
7363,"Yuba City, California",Festus Ezeli,Festus Ezeli,808937
7364,"Yucaipa, California",Taijuan Walker,Taijuan Walker,159179
7365,"Yucca Valley, California",Omi Vaidya,Omi Vaidya,543047
7366,"Yukon, Oklahoma",Garth Brooks,Garth Brooks,5218873
7367,"Yuma, Arizona",Cain Velasquez,Cain Velasquez,3285024
7368,"Zachary, Louisiana",Donna Douglas,Donna Douglas,1734424
7369,"Zanesville, Ohio",Agnes Moorehead,Agnes Moorehead,1703794
7370,"Zebulon, Georgia",Mookie Blaylock,Mookie Blaylock,416143
7371,"Zebulon, North Carolina",Clifton Daniel,Clifton Daniel,122455
7372,"Zeeland, Michigan",Jim Kaat,Jim Kaat,222709
7373,"Zeigler, Illinois",Nick Holonyak,Nick Holonyak,114340
7374,"Zephyrhills, Florida",Carl Tanzler,Carl Tanzler,1290442
7375,"Zion, Illinois",Gary Coleman,Gary Coleman,3559373
7376,"Zionsville, Indiana",Jared Fogle,Jared Fogle,7244933
7377,"Zumbrota, Minnesota",Gus Bradley,Gus Bradley,497333

In [112]:
city_mostviewedperson_df2 = city_mostviewedperson_df2.drop(columns=['name'])

In [113]:
# save to CSV
city_mostviewedperson_df2.to_csv("most_viewed_person_by_city.csv", index=False)