In [3]:
import pandas as pd
import requests
import re
import json
import csv
import glob
from pandas.io.json import json_normalize

In [4]:
# concatenate 50 csvs of "People from XX town" pages (one for each state)
path =r'/hi/im/a/fake/path/name' 
allFiles = glob.glob(path + "/*.csv")

list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

df = pd.concat(list_, axis = 0, ignore_index = True)

In [5]:
df.head()
df.shape

(2185, 3)

In [9]:
df

        pageid  ns                                            title
0     53129812  14           Category:People from Belleair, Florida
1     53015201  14            Category:People from Century, Florida
2     53045468  14         Category:People from Greenville, Florida
3     53028329  14          Category:People from Groveland, Florida
4     53118985  14        Category:People from Gulf Stream, Florida
5     53117670  14     Category:People from Highland Beach, Florida
6     53089455  14           Category:People from Hilliard, Florida
7     53155424  14    Category:People from Hillsboro Beach, Florida
8     52986036  14        Category:People from Indialantic, Florida
9     53134395  14        Category:People from Interlachen, Florida
10    53109521  14         Category:People from Juno Beach, Florida
11    36309908  14     Category:People from Jupiter Island, Florida
12    33603847  14            Category:People from Jupiter, Florida
13    53106785  14            Category:People from Lantana, Florida
14    53046192  14       Category:People from Longboat Key, Florida
15    53086963  14           Category:People from Marathon, Florida
16    53028242  14               Category:People from Mayo, Florida
17    52986169  14    Category:People from Melbourne Beach, Florida
18    53082490  14        Category:People from Miami Lakes, Florida
19    31305806  14           Category:People from Micanopy, Florida
20    53028541  14         Category:People from Mount Dora, Florida
21    42414553  14            Category:People from Nokomis, Florida
22    53109426  14        Category:People from Ocean Ridge, Florida
23    52935841  14        Category:People from Orange Park, Florida
24    52939665  14       Category:People from Penney Farms, Florida
25    53061261  14     Category:People from Sewall's Point, Florida
26    52996463  14  Category:People from Southwest Ranches, Florida
27    53084947  14           Category:People from Surfside, Florida
28    36309851  14         Category:People from Windermere, Florida
29    33677812  14      Category:People from Acworth, New Hampshire
...        ...  ..                                              ...
2155  52947847  14           Category:People from Sun City, Arizona
2156  52952692  14      Category:People from Sun City West, Arizona
2157  43573053  14         Category:People from Wickenburg, Arizona
2158  52953854  14            Category:People from Willcox, Arizona
2159  43869598  14          Category:People from Winkelman, Arizona
2160  43566831  14         Category:People from Aliceville, Alabama
2161  43581387  14            Category:People from Ashland, Alabama
2162  52294989  14             Category:People from Benton, Alabama
2163  52294292  14            Category:People from Boligee, Alabama
2164  43561603  14             Category:People from Butler, Alabama
2165  43566813  14         Category:People from Carrollton, Alabama
2166  43548099  14            Category:People from Clayton, Alabama
2167  43549950  14            Category:People from Florala, Alabama
2168  43566701  14         Category:People from Grove Hill, Alabama
2169  52300027  14             Category:People from Killen, Alabama
2170  52303415  14         Category:People from Louisville, Alabama
2171  32416297  14         Category:People from Moundville, Alabama
2172  43550197  14       Category:People from New Brockton, Alabama
2173  43566817  14       Category:People from Pickensville, Alabama
2174  52300108  14        Category:People from Rogersville, Alabama
2175  52945771  14             Category:People from Semmes, Alabama
2176  30794661  14         Category:People from Town Creek, Alabama
2177  59333182  14      Category:People from Coulee Dam, Washington
2178  59341108  14      Category:People from Coupeville, Washington
2179  59405405  14   Category:People from Friday Harbor, Washington
2180  59379798  14     Category:People from Hunts Point, Washington
2181  59406769  14       Category:People from La Conner, Washington
2182  59406758  14           Category:People from Lyman, Washington
2183  59402469  14      Category:People from Steilacoom, Washington
2184  59325395  14      Category:People from Waterville, Washington

[2184 rows x 3 columns]

In [7]:
# clean up extraneous "municipalities" pages
df = df[~df.title.str.contains("municipalities")]

In [8]:
df.shape

(2184, 3)

In [10]:
# double check to make sure all remaining rows are "People from XX city" pages
df[df.title.str.contains('People from')].count()

pageid    2184
ns        2184
title     2184
dtype: int64

In [11]:
# save to CSV
df.to_csv("category_people_from_all_towns.csv", index=False)

In [12]:
# read in the new CSV
towns_df = pd.read_csv('category_people_from_all_towns.csv')

In [13]:
towns_df.head()

     pageid  ns                                      title
0  53129812  14     Category:People from Belleair, Florida
1  53015201  14      Category:People from Century, Florida
2  53045468  14   Category:People from Greenville, Florida
3  53028329  14    Category:People from Groveland, Florida
4  53118985  14  Category:People from Gulf Stream, Florida

In [17]:
# loop through each row and make an API call for each sub-page
# then save to a json file

categories = df['title']

for category in categories:
    url = "http://en.wikipedia.org/w/api.php?action=query&list=categorymembers&cmtitle=" + category + "&cmtype=page&cmlimit=500&format=json"
    response = requests.get(url)
    
    with open(category+'.json', 'w') as outf:
        outf.write(response.text)

In [18]:
path =r'/blah/blah/blah' 
files = glob.glob(path + "/*.json")

list = []

for file in files:
    with open(file) as f:

        data = json.load(f)
        data2 = json_normalize(data['query'])
        data3 = json_normalize(data=data['query'], record_path='categorymembers', )
        data3['filename'] = file
        
        list.append(data3)

df = pd.concat(list, axis = 0, ignore_index = True, sort=False)

In [112]:
pd.set_option('display.max_colwidth', -1)

In [20]:
df['name'] = df['title']

In [21]:
df['city'] = df['filename'].str.extract(r'from (.*).json')

In [22]:
df = df.drop(['title', 'ns', 'filename'], axis=1)

In [23]:
df

,pageid,name,city
0,5848474.0,Doug Barfield,"Grove Hill, Alabama"
1,19281838.0,Zachariah Bettis,"Grove Hill, Alabama"
2,13364129.0,John W. Cranford,"Grove Hill, Alabama"
3,13567065.0,Grant Gillis,"Grove Hill, Alabama"
4,44230987.0,Winky Hicks,"Grove Hill, Alabama"
5,40654882.0,Marc Keahey,"Grove Hill, Alabama"
6,1664465.0,F. David Mathews,"Grove Hill, Alabama"
7,13531563.0,Cliff Nobles,"Grove Hill, Alabama"
8,14579208.0,I. T. Quinn,"Grove Hill, Alabama"
9,3351993.0,Ebenezer Allen,"Poultney (town), Vermont"
10,32631793.0,Jeffrey Brace,"Poultney (town), Vermont"
11,14631677.0,George Cassidy (coach),"Poultney (town), Vermont"
12,12922189.0,Warren A. Cowdery,"Poultney (town), Vermont"
13,33400693.0,David G. Hooker,"Poultney (town), Vermont"
14,3533570.0,George Jones (publisher),"Poultney (town), Vermont"
15,15690985.0,Marcellus Jones,"Poultney (town), Vermont"
16,58788764.0,Asahel C. Kendrick,"Poultney (town), Vermont"
17,33901223.0,James S. Marshall,"Poultney (town), Vermont"
18,3060882.0,Ralph Barton Perry,"Poultney (town), Vermont"
19,760988.0,Benjamin Pond,"Poultney (town), Vermont"
20,42289289.0,Ethan Smith (clergyman),"Poultney (town), Vermont"
21,35927617.0,Elisha Ward,"Poultney (town), Vermont"
22,31243153.0,"Dennis Byrd (American football, born 1946)","Pleasant Garden, North Carolina"
23,29515927.0,Joey Hackett,"Pleasant Garden, North Carolina"
24,2182497.0,Shane Hmiel,"Pleasant Garden, North Carolina"
25,43565964.0,Don Vaughan (politician),"Pleasant Garden, North Carolina"
26,5820400.0,William Dennison Cary,"Sandy Creek, New York"
27,3119962.0,Clarence D. Clark,"Sandy Creek, New York"
28,43757276.0,Oren R. Earl,"Sandy Creek, New York"
29,43543587.0,Cornelius M. Hadley,"Sandy Creek, New York"
...,...,...,...
25301,49233991.0,Reuben L. Snowe,"West Gardiner, Maine"
25302,475761.0,John Frank Stevens,"West Gardiner, Maine"
25303,47598270.0,William H. Stevens,"West Gardiner, Maine"
25304,6110215.0,Arthur Bestor,"Chautauqua, New York"
25305,1453264.0,Michael John LaChiusa,"Chautauqua, New York"
25306,7694074.0,Hiram Lawton Richmond,"Chautauqua, New York"
25307,7649739.0,Glenni William Scofield,"Chautauqua, New York"
25308,27906114.0,Garnet Sixsmith,"Chautauqua, New York"
25309,5210745.0,Heidi VanDerveer,"Chautauqua, New York"
25310,39648308.0,Max Bachhuber,"Addison, Wisconsin"
25311,47055952.0,Alfred G. Becker,"Addison, Wisconsin"
25312,3741751.0,John Reiser,"Addison, Wisconsin"
25313,2403676.0,Robbie Reiser,"Addison, Wisconsin"
25314,34032159.0,Adam Schantz,"Addison, Wisconsin"
25315,31610351.0,John Sell (Democrat),"Addison, Wisconsin"
25316,52626835.0,Timothy Alden,"Yarmouth, Massachusetts"
25317,42685228.0,John B. D. Cogswell,"Yarmouth, Massachusetts"
25318,40069104.0,Charles Henry Davis (businessman),"Yarmouth, Massachusetts"
25319,40890921.0,Asa Eldridge,"Yarmouth, Massachusetts"
25320,46229796.0,Scott Geoffrion,"Yarmouth, Massachusetts"
25321,30674845.0,Thomas N. George,"Yarmouth, Massachusetts"
25322,34475908.0,Jim Hallet,"Yarmouth, Massachusetts"
25323,30824984.0,Joseph Hull,"Yarmouth, Massachusetts"
25324,19744609.0,Keith Reed,"Yarmouth, Massachusetts"
25325,48537338.0,John Sears (salt producer),"Yarmouth, Massachusetts"
25326,22671717.0,Richard Sears (pilgrim),"Yarmouth, Massachusetts"
25327,41661881.0,Philip John Stead,"Yarmouth, Massachusetts"
25328,31528312.0,Edward B. Teague III,"Yarmouth, Massachusetts"
25329,11579771.0,Thomas Chandler Thacher,"Yarmouth, Massachusetts"
25330,2005275.0,George Thatcher,"Yarmouth, Massachusetts"

In [24]:
df.pageid=df.pageid.astype(int)

In [25]:
df.head()

     pageid              name                 city
0   5848474     Doug Barfield  Grove Hill, Alabama
1  19281838  Zachariah Bettis  Grove Hill, Alabama
2  13364129  John W. Cranford  Grove Hill, Alabama
3  13567065      Grant Gillis  Grove Hill, Alabama
4  44230987       Winky Hicks  Grove Hill, Alabama

In [26]:
# save to CSV

df.to_csv("category_people_from_towns_allpeople.csv", index=False)